/* Universal Body Text */
/*      */
body {
  font: 14px/1.5 lato;
  padding: 0;
  margin: 0;
  background-color: #002d52;
  color: #fff;
}

/* Universal Header Section */
/*      */
header {
  background: linear-gradient(to bottom right, #0073b6, #00bfff);
  color: #ffffff;
  padding-top: 30px;
  min-height: 70px;
  border-bottom: 5px solid white;
  margin-bottom: auto;
  width: 100%;
  position: fixed;
  z-index: 10;
}

header a {
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 18px;
  padding: 8px 16px;
  border-radius: 25px;
  border: 2px solid #ffffff00;
}

header a:hover {
  border: 2px solid #fff;
}

header li {
  float: left;
  display: inline;
  padding: 7px 20px;
}

header #logo {
  float: left;
}

header #logo h1 {
  margin: 0;
}

header nav {
  float: right;
  margin-top: 10px;
}

header .current a {
  border: 2px solid #fff;
}

.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}

ul {
  margin: 0;
  padding: 0;
}

/* Home Page Image */
/*      */
#home_image {
  background-image: url(https://cdn-images-1.medium.com/max/1600/1*zVDcaM6mqhi9m0LP_Sq4Ag.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  width: auto;
  margin-top: 0;
  min-height: 800px;
  border-bottom: 5px solid white;
}

#home_image h2 {
  font-size: 72px;
  color: #ffffff;
  text-align: center;
  margin-top: 0;
  padding-top: 280px;
  margin-bottom: 0;
}

#home_image p {
  font-size: 36px;
  color: #ffffff;
  text-align: center;
}

#home_image p a {
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  padding: 8px 16px;
  border-radius: 25px;
  border: 2px solid #ffffff;
}

#home_image p a:hover {
  color: #ffffff;
  background: linear-gradient(to bottom right, #0073b6, #00bfff);
}

/* Home Page Skill Section */
/*      */
.icon {
  width: 100px;
}

.skill h3 {
  font-size: 20px;
}

.skill {
  text-align: center;
  display: block;
  margin: 35px auto;
  width: 50%;
  border-bottom: 2px solid #ffffff;
}

.skill p {
  font-size: 16px;
  padding: 0 100px;
}

/* Universal Footer Section */
/*      */
footer {
  float: left;
  background: linear-gradient(to bottom right, #0073b6, #00bfff);
  color: #ffffff;
  padding-top: 30px;
  min-height: 70px;
  border-top: 5px solid white;
  margin-bottom: auto;
  width: 100%;
}

footer p {
  text-align: left;
  font-weight: bold;
  padding-top: 2px;
  padding-left: 25px;
}
